/* style.css */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  padding-top: 30px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

#main-header {
  width: 1000px;
  /* background: #ccc; */
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

#main-header .gnb {
  margin-top: 17px;
}

#main-header .gnb ul li {
  display: inline-block;
}

#main-header .gnb ul li span {
  margin-left: 22px;
  margin-right: 22px;
  color: #999;
}

#contents {
  width: 1000px;
  height: 500px;
  background: #666;
  margin: 0 auto;
}